@addTagHelper *, LazZiya.TagHelpers
@using S.K.Sabz.Application.Services.Blog.Queries.GetPostForSite;
@using S.K.Sabz.Application.Services.Common;
@model PostForSiteDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pageNumber = 1;
    int pageSize = 20;
    int.TryParse(Context.Request.Query["pageNumber"], out pageNumber);
    int.TryParse(Context.Request.Query["pageSize"], out pageSize);
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<!-- Hero Start -->
<section class="bg-half d-table w-100" style="background: url('images/masirsabz.jpg') center center;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h3 class="title text-white title-dark"> وبلاگ مسیر سبز  </h3>
                    <div class="page-next">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ul class="breadcrumb bg-white rounded shadow mb-0">
                                <li class="breadcrumb-item"><a href="index.html">مسیر سبز </a></li>
                                <li class="breadcrumb-item"><a href="#">وبلاگ </a></li>
                                <li class="breadcrumb-item active" aria-current="page">جزئیات وبلاگ</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- Hero End -->
<!--Blog Lists Start-->
<section class="section">
    <div class="container">
        <div class="row">
            @foreach (var post in Model.Posts)
            {
                <div class="col-lg-6 col-12 mb-4 pb-2">
                    <div class="card blog rounded border-0 shadow overflow-hidden">
                        <div class="row align-items-center g-0">
                            <div class="col-md-6">
                                <img src="@post.ImageSrc" class="img-fluid" alt="">
                                <div class="overlay bg-dark"></div>
                                <div class="author">

                                    <small class="text-light user d-block"><i class="uil uil-user"></i> @post.UserName </small>
                                    <small class="text-light date"><i class="uil uil-calendar-alt"></i> @post.InsertTime.ToPersianDate("ds dd ms Y") </small>
                                </div>
                            </div><!--end col-->

                            <div class="col-md-6">
                                <div class="card-body content">
                                    <h5><a href="javascript:void(0)" class="card-title title text-dark">@post.Title</a></h5>
                                    <p class="text-muted mb-0">
                                        @{
                                            var truncatedDescription = post.Description;
                                            if (truncatedDescription.Length > 50)
                                            {
                                                truncatedDescription = truncatedDescription.Substring(0, 50);
                                            }
                                            @Html.Raw(truncatedDescription)
                                        }
                                        ...
                                    </p>
                                    <div class="post-meta d-flex justify-content-between mt-3">
                                        <ul class="list-unstyled mb-0">
                                            <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="fas fa-eye me-1"></i>@post.ViewCount</a></li>
                                            <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="uil uil-comment me-1"></i>0</a></li>
                                        </ul>
                                        <a href="/BlogList/Detail?Id=@post.Id" class="text-muted readmore">ادامه مطلب  <i class="uil uil-angle-left-b align-middle"></i></a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div> <!--end row-->
                    </div><!--end blog post-->
                </div>

                <!--end col-->
            }

            <!-- PAGINATION START -->
            <div class="pagination-product">
                <nav aria-label="Page navigation example">
                    <paging total-records="@Model.TotalRow"
                            page-no="@pageNumber==0?1:pageNumber"
                            page-size="@pageSize==0?20:pageSize"
                            show-prev-next="true"
                            show-total-pages="false"
                            show-total-records="false"
                            show-page-size-nav="true"
                            show-first-numbered-page="true"
                            show-last-numbered-page="true"
                            query-string-key-page-no="Page"
                            query-string-key-page-size="PageSize"
                            query-string-value="@@(Request.QueryString.Value)"
                            gap-size="2"
                            sr-text-first="اولین"
                            sr-text-last="آخرین"
                            sr-text-previous="قبلی"
                            sr-text-next="بعدی">
                    </paging>
                </nav>
            </div>
            <!-- PAGINATION END -->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section -->
<!--Blog Lists End-->


@*Pagination Settings for Customize , do it if u like

    text-page-size="Items per page:"
    text-total-pages="pages"
    text-total-records="records"
    text-first="&laquo;"
    text-last="&raquo;"
    text-previous="&lsaquo;"
    text-next="&rsaquo;"
    sr-text-first="First"
    sr-text-last="Last"
    sr-text-previous="Previous"
    sr-text-next="Next"


    class="row"
    class-paging-control-div="col"
    class-info-div="col"
    class-page-size-div="col"
    class-paging-control="pagination"
    class-active-page="disabled"
    class-disabled-jumping-button="disabled"
    class-total-pages="badge badge-secondary"
    class-total-records="badge badge-info"
	*@